
<p><i>Through 2022 season</i></p>

<p><b>Most participants</b>

<ol>
<li><b>46</b> (2009)</li>
<li><b>46</b> (2010)</li>
<li><b>45</b> (2008)</li>
<li><b>45</b> (2011)</li>
<li><b>44</b> (2013)</li>
</ol>

<p><b>Greatest margins of victory</b>
<ol>
<li><b>14.16%</b> - 1993, Tom Sr. (4524) over Bill Jr. (3963)</li>
<li><b>7.52%</b> - 1994, Tom Sr. (3174) over Bill Jr. (2952)</li>
<li><b>7.12%</b> - 2006, Sandra (7066) over Tom Sr. (6596)</li>
<li><b>6.45%</b> - 2000, Dorothy (6383) over Kelley (5996)</li>
<li><b>6.44%</b> - 2018, Matt (6895) over Tom Jr. (6478)</li>
</ol>
</p>

<p><b>Closest finishes</b>
<ol>
<li><b>99.94%</b> - 2001, Shannon (6796) over Tom Jr. (6792)</li>
<li><b>99.922%</b> - 2019, Jack S (6467) over Tom Sr. (6462)</li>
<li><b>99.92%</b> - 2010, Billy III (6267) over Kayla and Nate (6262)</li>
<li><b>99.78%</b> - 2002, Karen (6798) over Tony (6783)</li>
<li><b>99.58%</b> - 1998, Dorothy (6178) over Karen (6152)</li>
</ol>
</p>

<p><b>Appearances</b>
<br>There are 5 owners tied for 1st place in this category, with 30 appearances each:
<ul>
<li>Connie</li>
<li>Sandra</li>
<li>Suzanne </li>
<li>Tom Jr.</li>
<li>Tom Sr.</li>
</ul>
</p>

<p><b>Most championships</b>
<ul>
<li><b>6</b> - Tom Sr. (1993, 1994, 2004, 2007, 2013, 2015)</li>
<li><b>3</b> - Suzanne (2003, 2020, 2022)</li>
<li><b>2</b> - Bill Jr. (1995, 1997)</li>
<li><b>2</b> - Billy 'Two-Time' III (2010, 2012)</li>
<li><b>2</b> - Dorothy (1998, 2000)</li>
<li><b>2</b> - Matt (2017, 2018)</li>
<li><b>2</b> - Ray (2005, 2009)</li>
<li><b>2</b> - Sandra (2006, 2021)</li>
</ul>
</p>

<p><b>Most 'money' (top 6) finishes</b>
<ul>
<li><b>17</b> - Tom Sr.</li>
<li><b>13</b> - Matt</li>
<li><b>12</b> - Sandra</li>
<li><b>10</b> - Tom Jr.</li>
<li><b>9</b> - Ray</li>
</ul>
</p>

<p><b>All-time rating</b>
<ol>
<li><b>789</b> - Tom Sr.</li>
<li><b>766</b> - Johnny</li>
<li><b>727</b> - Sandra</li>
<li><b>712</b> - Matt</li>
<li><b>677</b> - Tom Jr.</li>
</ol>
</p>
