
			<div class="row">

				<div class="col-8">

					<table class="table table-striped">
					{{#owner_rows}}

						<tr>
							<td class="owner_row_cell_rt">{{place}}</td>
							<td class="owner_row_cell"><a href="#{{season}}_{{owner_id}}">{{nickname}}</a></td>
							<td class="owner_row_cell"><a href="#{{season}}_{{owner_id}}">{{team_name}}</a></td>
							<td class="owner_row_cell_rt">{{points}}</td>
							<td class="owner_row_cell_img"><img src='{{head_shot}}'/></td>
						</tr>

					{{/owner_rows}}
					</table>
				</div>

				<div class="col-4">

					{{#show_full_stats}}

					{{#season_is_current}}
					<div id = "last_updated" style="margin-top:10px">
						<p>last updated: {{last_updated}}</p>
					</div>
					{{/season_is_current}}

					<div class="dropdown" style="margin-bottom: 10px">
						<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Owners {{season}}
						</button>

						<div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
						{{#owners}}
							<a class='dropdown-item' href='#{{season}}_{{owner_id}}'>{{nickname}}</a>
						{{/owners}}
						</div>
					</div>

					<div id="players_link" style="margin-bottom: 10px">
						<a target = "_blank" href = "/seasons/{{season}}/players">
							<button class="btn btn-info" type="button">
							Players {{season}}
						</button>
						</a>
					</div>

					{{#show_trades}}
					<div id="trades_link" style="margin-bottom: 10px">
						<a target = "_blank" href = "/seasons/{{season}}/trades">
							<button class="btn btn-info" type="button">
							Trades {{season}}
						</button>
						</a>
					</div>
					{{/show_trades}}


					<!-- leaderboards -->

					<div>
						<table class="table table-sm table-striped">

							{{#leaderboards}}

							<thead>
								<tr>
									<th colspan="6">
										<a target = "_blank" href = "{{href}}">{{title}}</a>
									</th>
								</tr>
							</thead>

							{{#leaders}}
							<tr>
								<td>{{rank}}</td>
								<td><a href = "{{href}}">{{name}}</a></td>
								<td class="owner_row_cell_rt">{{val}}</td>
							</tr>
							{{/leaders}}

							{{/leaderboards}}

						</table>
					</div>

					{{/show_full_stats}}

				</div>

			{{#show_full_stats}}

			<div class="row">

				<div class="col-8">

					{{#teams}}

					{{>owner_x_team_x_season}}

					{{/teams}}

				</div>

			</div>

			{{/show_full_stats}}
