
	<div class="row">

		<div class="col-6">
			<h3 style="margin-top:10px">{nickname}</h3>
		</div>

	<div class="row">

		<div class="col-6">

			<table class="table table-striped table-bordered table-sm">
				<tbody>

					<tr>
						<td>Most recent appearance</td>
						<td>{most_recent_appearance}</td>
						<td>Rookie year</td>
						<td>{rookie_year}</td>
					</tr>

					<tr>
						<td>Best finish</td>
						<td>{best_finish}</td>
						<td>{best_finish_detail}</td>
					</tr>

					<tr>
						<td>Category</td>
						<td></td>
						<td>Rank</td>
					</tr>

					<tr>
						<td>Appearances</td>
						<td>{appearances_count}</td>
						<td>{appearances_desc}</td>
					</tr>

					<tr>
						<td>Championships</td>
						<td>{championships_count}</td>
						<td>{championships_desc}</td>
					</tr>

					<tr>
						<td>Top six (money) finishes</td>
						<td>{money_finishes_count}</td>
						<td>{money_finishes_desc}</td>
					</tr>

					<tr>
						<td>Avg. Finish</td>
						<td>{avg_finish}</td>
						<td>{avg_finish_desc}</td>
					</tr>

					<tr>
						<td>Rating</td>
						<td>{rating}</td>
						<td>{rating_desc}</td>
					</tr>

				</tbody>
			</table>

		</div>

		<div class="col-6">
			<img src="{headshot}" />

			<div class="dropdown">
				<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seasons</button>
				<div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
					{season_links}
				</div>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-8">

			<table class="table table-striped table-bordered table-sm">
				<tbody>

					<tr>
						<td>Most-picked players</td>

						<td>
						{most_picked_players}
						</td>

					</tr>

				</tbody>
			</table>

		</div>

		<div class="col-4">

		</div>

	</div>

<div class="row">

	<div class="col-8">

		<a id="2020_2"></a>

				<table class="table table-striped table-bordered table-sm">
			<thead>
				<tr>
					<th colspan="9">Dorothy - Dorothy Ruthless</th>
				</tr>
				<tr><th colspan="9">2020: 21st place</th></tr>

				<tr>
					<th>POS</th>
					<th>Name</th>
					<th class="text-center">Team</th>
					<th class="text-center">Salary</th>
					<th class="text-center">Pk</th>
					<th class="text-center">Pts</th>
					<th class="text-center">Val</th>
				</tr>
			</thead>

			<tbody>

				<tr style="font-style: normal">
					<td>C</td>
					<td><a href = "/players/4019">Gary Sanchez</a></td>
					<td>NYY</td>
					<td class="player_row_cell_rt">$880</td>
					<td class="player_row_cell_rt">2</td>
					<td class="player_row_cell_rt">100</td>
					<td class="player_row_cell_rt">16</td>
				</tr>

				<tr style="font-style: normal">
					<td>1B</td>
					<td><a href = "/players/224">Albert Pujols</a></td>
					<td>LAA</td>
					<td class="player_row_cell_rt">$930</td>
					<td class="player_row_cell_rt">2</td>
					<td class="player_row_cell_rt">100</td>
					<td class="player_row_cell_rt">15</td>
				</tr>

				<tr style="font-style: normal">
					<td>2B</td>
					<td><a href = "/players/853">Robinson Cano</a></td>
					<td>NYM</td>
					<td class="player_row_cell_rt">$930</td>
					<td class="player_row_cell_rt">1</td>
					<td class="player_row_cell_rt">146</td>
					<td class="player_row_cell_rt">22</td>
				</tr>

				<tr style="font-style: normal">
					<td>3B</td>
					<td><a href = "/players/4666">Vladimir Guerrero Jr</a></td>
					<td>TOR</td>
					<td class="player_row_cell_rt">$1000</td>
					<td class="player_row_cell_rt">6</td>
					<td class="player_row_cell_rt">171</td>
					<td class="player_row_cell_rt">24</td>
				</tr>

				<tr style="font-style: normal">
					<td>SS</td>
					<td><a href = "/players/4310">Gleyber Torres</a></td>
					<td>NYY</td>
					<td class="player_row_cell_rt">$1190</td>
					<td class="player_row_cell_rt">1</td>
					<td class="player_row_cell_rt">85</td>
					<td class="player_row_cell_rt">10</td>
				</tr>

				<tr style="font-style: normal">
					<td>OF</td>
					<td><a href = "/players/638">Giancarlo Stanton</a></td>
					<td>NYY</td>
					<td class="player_row_cell_rt">$1190</td>
					<td class="player_row_cell_rt">2</td>
					<td class="player_row_cell_rt">63</td>
					<td class="player_row_cell_rt">7</td>
				</tr>

				<tr style="font-style: normal">
					<td>OF</td>
					<td><a href = "/players/4110">Aaron Judge</a></td>
					<td>NYY</td>
					<td class="player_row_cell_rt">$1130</td>
					<td class="player_row_cell_rt">5</td>
					<td class="player_row_cell_rt">101</td>
					<td class="player_row_cell_rt">12</td>
				</tr>

				<tr style="font-style: normal">
					<td>OF</td>
					<td><a href = "/players/4691">Ramon Laureano</a></td>
					<td>OAK</td>
					<td class="player_row_cell_rt">$840</td>
					<td class="player_row_cell_rt">1</td>
					<td class="player_row_cell_rt">123</td>
					<td class="player_row_cell_rt">20</td>
				</tr>

				<tr style="font-style: normal">
					<td>SP</td>
					<td><a href = "/players/1787">Gerrit Cole</a></td>
					<td>NYY</td>
					<td class="player_row_cell_rt">$1550</td>
					<td class="player_row_cell_rt">10</td>
					<td class="player_row_cell_rt">237</td>
					<td class="player_row_cell_rt">21</td>
				</tr>

				<tr style="font-style: normal">
					<td>SP</td>
					<td><a href = "/players/1773">Trevor Bauer</a></td>
					<td>CIN</td>
					<td class="player_row_cell_rt">$1070</td>
					<td class="player_row_cell_rt">3</td>
					<td class="player_row_cell_rt">223</td>
					<td class="player_row_cell_rt">29</td>
				</tr>

				<tr style="font-style: normal">
					<td>SP</td>
					<td><a href = "/players/1947">James Paxton</a></td>
					<td>NYY</td>
					<td class="player_row_cell_rt">$980</td>
					<td class="player_row_cell_rt">1</td>
					<td class="player_row_cell_rt">56</td>
					<td class="player_row_cell_rt">8</td>
				</tr>

				<tr style="font-style: normal">
					<td>RP</td>
					<td><a href = "/players/1332">Aroldis Chapman</a></td>
					<td>NYY</td>
					<td class="player_row_cell_rt">$1250</td>
					<td class="player_row_cell_rt">2</td>
					<td class="player_row_cell_rt">73</td>
					<td class="player_row_cell_rt">8</td>
				</tr>

				<tr style='text-align: center;'>
					<td colspan = '9'>Benched players</td>
				</tr>

				<tr>
					<td colspan="3">&nbsp;</td>
					<td align="right"><b>$12940</b></td>
					<td></td>
					<td align="right"><b>1478</b></td>
					<td></td>
				</tr>
			</tbody>
		</table>

	</div>

	<div class="col-4" id="back_to_top">
		<a href="#top">back to top</a>
	</div>
</div>


<div class="row">

	<div class="col-8">

		<a id="2019_2"></a>

				<table class="table table-striped table-bordered table-sm">
			<thead>
				<tr>
					<th colspan="9">Dorothy - Dorothy Ruthless</th>
				</tr>
				<tr><th colspan="9">2019: 37th place</th></tr>

				<tr>
					<th>POS</th>
					<th>Name</th>
					<th class="text-center">Team</th>
					<th class="text-center">Salary</th>
					<th class="text-center">Pk</th>
					<th class="text-center">Pts</th>
					<th class="text-center">Val</th>
				</tr>
			</thead>

			<tbody>

				

<tr style="font-style: normal">
	<td>C</td>
	<td><a href = "/players/4019">Gary Sanchez</a></td>
	<td>NYY</td>
	<td class="player_row_cell_rt">$795</td>
	<td class="player_row_cell_rt">10</td>
	<td class="player_row_cell_rt">387</td>
	<td class="player_row_cell_rt">26</td>
</tr>

<tr style="font-style: italic">
	<td>1B</td>
	<td><a href = "/players/4654">Peter Alonso</a></td>
	<td>NYM</td>
	<td class="player_row_cell_rt">$500</td>
	<td class="player_row_cell_rt">7</td>
	<td class="player_row_cell_rt">295</td>
	<td class="player_row_cell_rt">68</td>
</tr>

<tr style="font-style: normal">
	<td>2B</td>
	<td><a href = "/players/853">Robinson Cano</a></td>
	<td>NYM</td>
	<td class="player_row_cell_rt">$1190</td>
	<td class="player_row_cell_rt">2</td>
	<td class="player_row_cell_rt">277</td>
	<td class="player_row_cell_rt">12</td>
</tr>

<tr style="font-style: normal">
	<td>3B</td>
	<td><a href = "/players/1800">Eduardo Escobar</a></td>
	<td>ARZ</td>
	<td class="player_row_cell_rt">$780</td>
	<td class="player_row_cell_rt">2</td>
	<td class="player_row_cell_rt">597</td>
	<td class="player_row_cell_rt">41</td>
</tr>

<tr style="font-style: normal">
	<td>SS</td>
	<td><a href = "/players/1894">Jean Segura</a></td>
	<td>PHI</td>
	<td class="player_row_cell_rt">$1020</td>
	<td class="player_row_cell_rt">4</td>
	<td class="player_row_cell_rt">431</td>
	<td class="player_row_cell_rt">23</td>
</tr>

<tr style="font-style: normal">
	<td>OF</td>
	<td><a href = "/players/4110">Aaron Judge</a></td>
	<td>NYY</td>
	<td class="player_row_cell_rt">$1355</td>
	<td class="player_row_cell_rt">10</td>
	<td class="player_row_cell_rt">404</td>
	<td class="player_row_cell_rt">15</td>
</tr>

<tr style="font-style: normal">
	<td>OF</td>
	<td><a href = "/players/1977">Aaron Hicks</a></td>
	<td>NYY</td>
	<td class="player_row_cell_rt">$1030</td>
	<td class="player_row_cell_rt">2</td>
	<td class="player_row_cell_rt">208</td>
	<td class="player_row_cell_rt">11</td>
</tr>

<tr style="font-style: normal">
	<td>OF</td>
	<td><a href = "/players/1013">Melky Cabrera</a></td>
	<td>CLE</td>
	<td class="player_row_cell_rt">$960</td>
	<td class="player_row_cell_rt">1</td>
	<td class="player_row_cell_rt">262</td>
	<td class="player_row_cell_rt">14</td>
</tr>

<tr style="font-style: normal">
	<td>SP</td>
	<td><a href = "/players/1947">James Paxton</a></td>
	<td>NYY</td>
	<td class="player_row_cell_rt">$1375</td>
	<td class="player_row_cell_rt">4</td>
	<td class="player_row_cell_rt">486</td>
	<td class="player_row_cell_rt">19</td>
</tr>

<tr style="font-style: normal">
	<td>SP</td>
	<td><a href = "/players/2113">Noah Syndergaard</a></td>
	<td>NYM</td>
	<td class="player_row_cell_rt">$1275</td>
	<td class="player_row_cell_rt">6</td>
	<td class="player_row_cell_rt">499</td>
	<td class="player_row_cell_rt">20</td>
</tr>

<tr style="font-style: normal">
	<td>SP</td>
	<td><a href = "/players/1234">David Price</a></td>
	<td>BOS</td>
	<td class="player_row_cell_rt">$1250</td>
	<td class="player_row_cell_rt">5</td>
	<td class="player_row_cell_rt">305</td>
	<td class="player_row_cell_rt">13</td>
</tr>

<tr style="font-style: normal">
	<td>RP</td>
	<td><a href = "/players/1332">Aroldis Chapman</a></td>
	<td>NYY</td>
	<td class="player_row_cell_rt">$1345</td>
	<td class="player_row_cell_rt">7</td>
	<td class="player_row_cell_rt">542</td>
	<td class="player_row_cell_rt">21</td>
</tr>

				<tr style='text-align: center;'>
					<td colspan = '9'>Benched players</td>
				</tr>

				

<tr style="font-style: normal">
	<td>1B</td>
	<td><a href = "/players/2316">Greg Bird</a></td>
	<td>NYY</td>
	<td class="player_row_cell_rt">$585</td>
	<td class="player_row_cell_rt">2</td>
	<td class="player_row_cell_rt">22</td>
	<td class="player_row_cell_rt">2</td>
</tr>

				<tr>
					<td colspan="3">&nbsp;</td>
					<td align="right"><b>$12580</b></td>
					<td></td>
					<td align="right"><b>4715</b></td>
					<td></td>
				</tr>
			</tbody>
		</table>

	</div>

	<div class="col-4" id="back_to_top">
		<a href="#top">back to top</a>
	</div>
</div>


<div class="row">

	<div class="col-8">

		<a id="2018_2"></a>

				<table class="table table-striped table-bordered table-sm">
			<thead>
				<tr>
					<th colspan="9">Dorothy - Dorothy Ruthless</th>
				</tr>
				<tr><th colspan="9">2018: 35th place</th></tr>

				<tr>
					<th>POS</th>
					<th>Name</th>
					<th class="text-center">Team</th>
					<th class="text-center">Salary</th>
					<th class="text-center">Pk</th>
					<th class="text-center">Pts</th>
					<th class="text-center">Val</th>
				</tr>
			</thead>

			<tbody>

				

<tr style="font-style: normal">
	<td>C</td>
	<td><a href = "/players/4019">Gary Sanchez</a></td>
	<td>NYY</td>
	<td class="player_row_cell_rt">$990</td>
	<td class="player_row_cell_rt">11</td>
	<td class="player_row_cell_rt">283</td>
	<td class="player_row_cell_rt">15</td>
</tr>

<tr style="font-style: normal">
	<td>1B</td>
	<td><a href = "/players/1005">Hanley Ramirez</a></td>
	<td>BOS</td>
	<td class="player_row_cell_rt">$930</td>
	<td class="player_row_cell_rt">3</td>
	<td class="player_row_cell_rt">146</td>
	<td class="player_row_cell_rt">27</td>
</tr>

<tr style="font-style: normal">
	<td>2B</td>
	<td><a href = "/players/1609">Starlin Castro</a></td>
	<td>MIA</td>
	<td class="player_row_cell_rt">$960</td>
	<td class="player_row_cell_rt">2</td>
	<td class="player_row_cell_rt">427</td>
	<td class="player_row_cell_rt">23</td>
</tr>

<tr style="font-style: normal">
	<td>3B</td>
	<td><a href = "/players/151">Adrian Beltre</a></td>
	<td>TEX</td>
	<td class="player_row_cell_rt">$865</td>
	<td class="player_row_cell_rt">3</td>
	<td class="player_row_cell_rt">338</td>
	<td class="player_row_cell_rt">20</td>
</tr>

<tr style="font-style: normal">
	<td>SS</td>
	<td><a href = "/players/1971">Didi Gregorius</a></td>
	<td>NYY</td>
	<td class="player_row_cell_rt">$1100</td>
	<td class="player_row_cell_rt">6</td>
	<td class="player_row_cell_rt">492</td>
	<td class="player_row_cell_rt">23</td>
</tr>

<tr style="font-style: normal">
	<td>OF</td>
	<td><a href = "/players/638">Giancarlo Stanton</a></td>
	<td>NYY</td>
	<td class="player_row_cell_rt">$1460</td>
	<td class="player_row_cell_rt">6</td>
	<td class="player_row_cell_rt">596</td>
	<td class="player_row_cell_rt">21</td>
</tr>

<tr style="font-style: normal">
	<td>OF</td>
	<td><a href = "/players/4110">Aaron Judge</a></td>
	<td>NYY</td>
	<td class="player_row_cell_rt">$1450</td>
	<td class="player_row_cell_rt">10</td>
	<td class="player_row_cell_rt">450</td>
	<td class="player_row_cell_rt">16</td>
</tr>

<tr style="font-style: normal">
	<td>OF</td>
	<td><a href = "/players/1226">Brett Gardner</a></td>
	<td>NYY</td>
	<td class="player_row_cell_rt">$1280</td>
	<td class="player_row_cell_rt">3</td>
	<td class="player_row_cell_rt">432</td>
	<td class="player_row_cell_rt">17</td>
</tr>

<tr style="font-style: normal">
	<td>SP</td>
	<td><a href = "/players/4133">Luis Severino</a></td>
	<td>NYY</td>
	<td class="player_row_cell_rt">$1110</td>
	<td class="player_row_cell_rt">16</td>
	<td class="player_row_cell_rt">601</td>
	<td class="player_row_cell_rt">28</td>
</tr>

<tr style="font-style: normal">
	<td>SP</td>
	<td><a href = "/players/406">C.C. Sabathia</a></td>
	<td>NYY</td>
	<td class="player_row_cell_rt">$1040</td>
	<td class="player_row_cell_rt">4</td>
	<td class="player_row_cell_rt">383</td>
	<td class="player_row_cell_rt">19</td>
</tr>

<tr style="font-style: normal">
	<td>SP</td>
	<td><a href = "/players/2113">Noah Syndergaard</a></td>
	<td>NYM</td>
	<td class="player_row_cell_rt">$935</td>
	<td class="player_row_cell_rt">21</td>
	<td class="player_row_cell_rt">439</td>
	<td class="player_row_cell_rt">24</td>
</tr>

<tr style="font-style: normal">
	<td>RP</td>
	<td><a href = "/players/1516">David Robertson</a></td>
	<td>NYY</td>
	<td class="player_row_cell_rt">$870</td>
	<td class="player_row_cell_rt">2</td>
	<td class="player_row_cell_rt">290</td>
	<td class="player_row_cell_rt">17</td>
</tr>

				<tr style='text-align: center;'>
					<td colspan = '9'>Benched players</td>
				</tr>

				

				<tr>
					<td colspan="3">&nbsp;</td>
					<td align="right"><b>$12990</b></td>
					<td></td>
					<td align="right"><b>4877</b></td>
					<td></td>
				</tr>
			</tbody>
		</table>

	</div>

	<div class="col-4" id="back_to_top">
		<a href="#top">back to top</a>
	</div>
</div>


<div class="row">

	<div class="col-8">

		<a id="2017_2"></a>

				<table class="table table-striped table-bordered table-sm">
			<thead>
				<tr>
					<th colspan="9">Dorothy - Dorothy Ruthless</th>
				</tr>
				<tr><th colspan="9">2017: 19th place</th></tr>

				<tr>
					<th>POS</th>
					<th>Name</th>
					<th class="text-center">Team</th>
					<th class="text-center">Salary</th>
					<th class="text-center">Pk</th>
					<th class="text-center">Pts</th>
					<th class="text-center">Val</th>
				</tr>
			</thead>

			<tbody>

				

<tr style="font-style: normal">
	<td>C</td>
	<td><a href = "/players/826">Brian McCann</a></td>
	<td>HOU</td>
	<td class="player_row_cell_rt">$760</td>
	<td class="player_row_cell_rt">1</td>
	<td class="player_row_cell_rt">301</td>
	<td class="player_row_cell_rt">21</td>
</tr>

<tr style="font-style: normal">
	<td>1B</td>
	<td><a href = "/players/1346">Carlos Santana</a></td>
	<td>CLE</td>
	<td class="player_row_cell_rt">$1080</td>
	<td class="player_row_cell_rt">4</td>
	<td class="player_row_cell_rt">527</td>
	<td class="player_row_cell_rt">26</td>
</tr>

<tr style="font-style: normal">
	<td>2B</td>
	<td><a href = "/players/1647">Jason Kipnis</a></td>
	<td>CLE</td>
	<td class="player_row_cell_rt">$1020</td>
	<td class="player_row_cell_rt">1</td>
	<td class="player_row_cell_rt">257</td>
	<td class="player_row_cell_rt">13</td>
</tr>

<tr style="font-style: italic">
	<td>3B</td>
	<td><a href = "/players/1218">Chase Headley</a></td>
	<td>NYY</td>
	<td class="player_row_cell_rt">$870</td>
	<td class="player_row_cell_rt">2</td>
	<td class="player_row_cell_rt">357</td>
	<td class="player_row_cell_rt">26</td>
</tr>

<tr style="font-style: normal">
	<td>SS</td>
	<td><a href = "/players/1971">Didi Gregorius</a></td>
	<td>NYY</td>
	<td class="player_row_cell_rt">$900</td>
	<td class="player_row_cell_rt">3</td>
	<td class="player_row_cell_rt">446</td>
	<td class="player_row_cell_rt">26</td>
</tr>

<tr style="font-style: normal">
	<td>OF</td>
	<td><a href = "/players/1226">Brett Gardner</a></td>
	<td>NYY</td>
	<td class="player_row_cell_rt">$1000</td>
	<td class="player_row_cell_rt">1</td>
	<td class="player_row_cell_rt">531</td>
	<td class="player_row_cell_rt">28</td>
</tr>

<tr style="font-style: normal">
	<td>OF</td>
	<td><a href = "/players/225">Carlos Beltran</a></td>
	<td>HOU</td>
	<td class="player_row_cell_rt">$890</td>
	<td class="player_row_cell_rt">2</td>
	<td class="player_row_cell_rt">323</td>
	<td class="player_row_cell_rt">19</td>
</tr>

<tr style="font-style: normal">
	<td>OF</td>
	<td><a href = "/players/4110">Aaron Judge</a></td>
	<td>NYY</td>
	<td class="player_row_cell_rt">$750</td>
	<td class="player_row_cell_rt">5</td>
	<td class="player_row_cell_rt">727</td>
	<td class="player_row_cell_rt">52</td>
</tr>

<tr style="font-style: normal">
	<td>SP</td>
	<td><a href = "/players/1242">Clayton Kershaw</a></td>
	<td>LAD</td>
	<td class="player_row_cell_rt">$1650</td>
	<td class="player_row_cell_rt">18</td>
	<td class="player_row_cell_rt">557</td>
	<td class="player_row_cell_rt">18</td>
</tr>

<tr style="font-style: normal">
	<td>SP</td>
	<td><a href = "/players/1927">Masahiro Tanaka</a></td>
	<td>NYY</td>
	<td class="player_row_cell_rt">$1250</td>
	<td class="player_row_cell_rt">3</td>
	<td class="player_row_cell_rt">502</td>
	<td class="player_row_cell_rt">21</td>
</tr>

<tr style="font-style: italic">
	<td>SP</td>
	<td><a href = "/players/912">Justin Verlander</a></td>
	<td>DET</td>
	<td class="player_row_cell_rt">$1110</td>
	<td class="player_row_cell_rt">6</td>
	<td class="player_row_cell_rt">484</td>
	<td class="player_row_cell_rt">28</td>
</tr>

<tr style="font-style: normal">
	<td>RP</td>
	<td><a href = "/players/1516">David Robertson</a></td>
	<td>CWS</td>
	<td class="player_row_cell_rt">$1150</td>
	<td class="player_row_cell_rt">1</td>
	<td class="player_row_cell_rt">396</td>
	<td class="player_row_cell_rt">18</td>
</tr>

				<tr style='text-align: center;'>
					<td colspan = '9'>Benched players</td>
				</tr>

				

<tr style="font-style: normal">
	<td>SP</td>
	<td><a href = "/players/2113">Noah Syndergaard</a></td>
	<td>NYM</td>
	<td class="player_row_cell_rt">$1260</td>
	<td class="player_row_cell_rt">16</td>
	<td class="player_row_cell_rt">69</td>
	<td class="player_row_cell_rt">3</td>
</tr>

<tr style="font-style: normal">
	<td>3B</td>
	<td><a href = "/players/151">Adrian Beltre</a></td>
	<td>TEX</td>
	<td class="player_row_cell_rt">$1210</td>
	<td class="player_row_cell_rt">3</td>
	<td class="player_row_cell_rt">0</td>
	<td class="player_row_cell_rt">15</td>
</tr>

				<tr>
					<td colspan="3">&nbsp;</td>
					<td align="right"><b>$12920</b></td>
					<td></td>
					<td align="right"><b>5477</b></td>
					<td></td>
				</tr>
			</tbody>
		</table>

	</div>

	<div class="col-4" id="back_to_top">
		<a href="#top">back to top</a>
	</div>
</div>


<div class="row">

	<div class="col-8">

		<a id="2016_2"></a>

				<table class="table table-striped table-bordered table-sm">
			<thead>
				<tr>
					<th colspan="9">Dorothy - Dorothy Ruthless</th>
				</tr>
				<tr><th colspan="9">2016: 31st place</th></tr>

				<tr>
					<th>POS</th>
					<th>Name</th>
					<th class="text-center">Team</th>
					<th class="text-center">Salary</th>
					<th class="text-center">Pk</th>
					<th class="text-center">Pts</th>
					<th class="text-center">Val</th>
				</tr>
			</thead>

			<tbody>

				

<tr style="font-style: normal">
	<td>C</td>
	<td><a href = "/players/826">Brian McCann</a></td>