
			<div class="row">

				<div class="col-8">

					<h3 style="margin-top:10px">{season} Final Standings</h3>

					<table class="table table-striped">
						{owner_rows_summary}
					</table>
				</div>

				<div class="col-4">

					<div class="dropdown" style="margin-bottom: 10px">
						<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Owners {season}
						</button>

						<div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
							{owner_dropdown}
						</div>
					</div>

					<div id="players_link" style="margin-bottom: 10px">
						<a target = "_blank" href = "/seasons/{season}/players">
							<button class="btn btn-info" type="button">
							Players {season}
						</button>
						</a>
					</div>

					<!-- leaderboard -->

					<div id="players_prod_picked">
						<table class="table table-sm table-striped">
							<thead>
								<tr>
									<th colspan="6">
										<a target = "_blank" href = "/players/{season}">Most Productive Players (picked)</a>
									</th>
								</tr>
							</thead>

							<tbody>
								{most_productive_players-picked}
							</tbody>
						</table>
					</div>

					<div id="players_val">
						<table class="table table-sm table-striped">
							<thead>
								<tr>
									<th colspan="6">
										<a target = "_blank" href = "/players/{season}">Most Valuable Players (picked)</a>
									</th>
								</tr>
							</thead>

							<tbody>
								{most_valuable_players-picked}
							</tbody>
						</table>
					</div>

					<div id="players_picked">
						<table class="table table-sm table-striped">
							<thead>
								<tr>
									<th colspan="6">
										<a target = '_blank' href = "/players/{season}">Most Popular Players</a>
									</th>
								</tr>
							</thead>

							<tbody>
								{most_popular_players}
							</tbody>
						</table>
					</div>

					<div id="players_prod_all">
						<table class="table table-sm table-striped">
							<thead>
								<tr>
									<th colspan="6">
										<a target = "_blank" href = "/players/{season}">Most Productive Players (all)</a>
									</th>
								</tr>
							</thead>

							<tbody>
								{most_productive_players-all}
							</tbody>
						</table>
					</div>

					<div id="players_val_all">

						<table class="table table-sm table-striped">
							<thead>
								<tr>
									<th colspan="6">
										<a target = "_blank" href = "/players/{season}">Most Valuable Players (all)</a>
									</th>
								</tr>
							</thead>

							<tbody>
								{most_valuable_players-all}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-8">

					{teams}

				</div>

			</div>
